.boton-amarillo{
    @include boton($amarillo);
}

.boton-amarillo-block{
    @include boton($amarillo);
    display: block;
}

.boton-verde{
    @include boton($verde);
}

.boton-verde-block{
    @include boton($verde);
    display: block;
}

.boton-rojo{
    @include boton($rojo);
}

.boton-rojo-block{
    @include boton($rojo);
    display: block;
    width: 100%;
}
