.contenedor-anuncios{
    display: block;

    @include tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.anuncio{
    background-color: $gris;
    border: 1px solid darken($color: $gris, $amount: 10);

    h3, p{
        margin: 0.5rem 0;
    }

    .contenido-anuncio{
        padding: 1rem;
    }

    margin-bottom: 2rem;
}

.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos-caracteristicas{
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0 1rem;
    
    max-width: 40rem;

    li{
        display: flex;
        column-gap: 1rem;
        justify-content: space-between;

        p{
            font-weight: bold;
        }
    }
}