.barra{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;

        display: block;
        text-align: center;

        @include tablet{
            margin-right: 1rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }

    @include tablet{
        display: flex;
        align-items: center;
    }
}